h1 { text-align: center; display: flex; gap: 10px; justify-content: center; align-items: center; }
section { display: flex; justify-content: center; gap: 50px; }
img { width: 300px; height: 300px; }
.info { display: flex; flex-direction: column; justify-content: center; gap: 20px; }
.types { display: flex; gap: 10px; }
