.container {
  max-width: 400px;
  margin: auto;
 }
 ul {
  list-style: none;
  padding: 0;
 }
 li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
 }
 .completed {
  text-decoration: line-through;
  color: rgb(104, 88, 88);
 }
 button.delete {
  background: rgb(252, 79, 200);
  color: rgb(255, 250, 250);
  border: none;
  padding: 4px 8px;
 }